* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: hsl(167, 45%, 70%);
  width: 100%;
}

nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  background: transparent;
}
nav .nav-links {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 1.5rem;
  right: 1.5rem;
  background-color: hsl(0, 100%, 100%);
  z-index: 1000;
  list-style-type: none;
}
@media (min-width: 760px) {
  nav .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    top: auto;
    background: transparent;
  }
}
nav .nav-links a {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  font-size: 0.8rem;
  text-decoration: none;
}
@media (min-width: 760px) {
  nav .nav-links a {
    font-family: "Barlow", sans-serif;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
  }
}
nav .nav-links .contact:hover {
  background-color: hsl(199, 95%, 71%);
  color: hsl(0, 100%, 100%);
}
nav .nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transform: translateY(calc(-100% + 1px));
  border-left: 30px solid transparent;
  border-bottom: 30px solid hsl(0, 100%, 100%);
}
@media (min-width: 760px) {
  nav .nav-links::before {
    display: none;
  }
}
nav .nav-links .contact {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: black;
  text-transform: uppercase;
  background-color: hsl(51, 100%, 49%);
  padding: 1rem 1.7rem;
  border-radius: 999px;
}
@media (min-width: 760px) {
  nav .nav-links .contact {
    background-color: hsl(0, 100%, 100%);
  }
}
@media (max-width: 759px) {
  nav .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem 0 3.5rem 0;
  }
  nav .contact {
    margin-top: 1rem;
    font-family: "Fraunces", serif;
    color: black;
  }
  nav li:last-child {
    margin-top: 1rem;
  }
}
nav .nav-menu {
  background: none;
  border: none;
}
nav .nav-menu:hover {
  cursor: pointer;
}
@media (min-width: 760px) {
  nav .nav-menu {
    display: none;
  }
}

.hero {
  height: 70vh;
  background-image: url("images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 605px) {
  .hero {
    height: 85vh;
    background-image: url("images/desktop/image-header.jpg");
  }
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.hero h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(0, 100%, 100%);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
}

.transform {
  display: flex;
  flex-direction: column;
}
.transform .transform-image {
  width: 100%;
  display: block;
}
.transform .transform-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.transform .transform-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 100%, 100%);
  padding: 3rem 2.4rem;
  gap: 1.4rem;
  text-align: center;
  min-height: 23rem;
}
@media (min-width: 760px) {
  .transform .transform-content {
    flex: 1;
    padding: 4rem 5rem;
    text-align: left;
  }
}
.transform .transform-content h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@media (min-width: 760px) {
  .transform .transform-content h2 {
    font-size: 2rem;
  }
}
.transform .transform-content p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.transform .transform-content a {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  align-self: center;
}
@media (min-width: 760px) {
  .transform .transform-content a {
    align-self: start;
  }
}
.transform .transform-content a::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -0.4rem;
  bottom: -0.01rem;
  height: 0.4rem;
  width: calc(100% + 0.8rem);
  background: hsl(62, 82%, 87%);
  border-radius: 999px;
}
.transform .transform-content a:hover::after {
  background: hsl(51, 100%, 49%);
}
@media (min-width: 760px) {
  .transform {
    flex-direction: row-reverse;
    align-items: stretch;
  }
  .transform .transform-image,
  .transform .transform-content {
    min-width: 0;
    flex: 1 1 50%;
  }
}

.stand-out {
  display: flex;
  flex-direction: column;
}
.stand-out .stand-out-image {
  width: 100%;
  display: block;
}
.stand-out .stand-out-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.stand-out .stand-out-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 100%, 100%);
  padding: 3rem 2.4rem;
  gap: 1.4rem;
  text-align: center;
  min-height: 23rem;
}
@media (min-width: 760px) {
  .stand-out .stand-out-content {
    flex: 1;
    padding: 4rem 5rem;
    text-align: left;
  }
}
.stand-out .stand-out-content h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@media (min-width: 760px) {
  .stand-out .stand-out-content h2 {
    font-size: 2rem;
  }
}
.stand-out .stand-out-content p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.stand-out .stand-out-content a {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  align-self: center;
}
@media (min-width: 760px) {
  .stand-out .stand-out-content a {
    align-self: start;
  }
}
.stand-out .stand-out-content a::after {
  content: "";
  position: absolute;
  z-index: -1000;
  left: -0.4rem;
  bottom: -0.01rem;
  height: 0.4rem;
  width: calc(100% + 0.8rem);
  background: hsl(0, 82%, 93%);
  border-radius: 999px;
}
.stand-out .stand-out-content a:hover::after {
  background: hsl(7, 99%, 70%);
}
@media (min-width: 760px) {
  .stand-out {
    flex-direction: row;
    align-items: stretch;
  }
  .stand-out .stand-out-image,
  .stand-out .stand-out-content {
    min-width: 0;
    flex: 1 1 50%;
  }
}

.graphic-design {
  min-height: 33rem;
  background-image: url("images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 0;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 1rem;
  text-align: center;
}
.graphic-design h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(198, 62%, 26%);
}
.graphic-design p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(198, 62%, 26%);
  font-size: 0.9rem;
  line-height: 1.5rem;
  max-width: 22rem;
}
@media (min-width: 760px) {
  .graphic-design p {
    max-width: 24rem;
    padding: 0 2.7rem;
  }
}
@media (min-width: 760px) {
  .graphic-design {
    justify-content: flex-end;
    padding: 3rem 2rem;
  }
}

.photography {
  min-height: 33rem;
  background-image: url("images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 0;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 1rem;
  text-align: center;
}
.photography h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(167, 40%, 24%);
}
.photography p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(198, 62%, 26%);
  font-size: 0.9rem;
  line-height: 1.5rem;
  max-width: 22rem;
}
@media (min-width: 760px) {
  .photography p {
    max-width: 24rem;
    padding: 0 2.6rem;
  }
}
@media (min-width: 760px) {
  .photography {
    justify-content: flex-end;
    padding: 3rem 2rem;
  }
}

@media (min-width: 760px) {
  .graphicdesign-and-photography {
    display: flex;
  }
  .graphicdesign-and-photography .graphic-design,
  .graphicdesign-and-photography .photography {
    min-width: 0;
    flex: 1 1 50%;
  }
  .graphicdesign-and-photography .graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }
  .graphicdesign-and-photography .photography {
    background-image: url("images/desktop/image-photography.jpg");
  }
}
.testimonials {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1.3rem;
  background-color: hsl(0, 100%, 100%);
  text-align: center;
}
@media (min-width: 1024px) {
  .testimonials {
    padding: 6rem 4rem;
  }
}
.testimonials h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(210, 4%, 67%);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  .testimonials h2 {
    font-weight: 700;
    font-size: 1rem;
  }
}
.testimonials .testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 1024px) {
  .testimonials .testimonials-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
}
.testimonials .testimonials-container .testimonials-client {
  padding: 2rem 0;
}
.testimonials .testimonials-container .testimonials-client img {
  height: 4rem;
  border-radius: 50%;
}
.testimonials .testimonials-container .testimonials-client .testimonials-content {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  line-height: 1.7rem;
  padding: 2.5rem 0;
}
@media (min-width: 1024px) {
  .testimonials .testimonials-container .testimonials-client .testimonials-content {
    padding: 3rem 0;
  }
}
.testimonials .testimonials-container .testimonials-client .testimonials-name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  padding-bottom: 1rem;
}
.testimonials .testimonials-container .testimonials-client .testimonials-title {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
}
@media (min-width: 760px) {
  .gallery {
    display: flex;
  }
}

footer {
  min-height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-logo {
  height: 6.5rem;
  padding: 3rem 0 1.5rem 0;
}
footer .footer-links-container {
  display: flex;
  gap: 3rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
footer .footer-links-container a {
  color: hsl(167, 40%, 24%);
  text-decoration: none;
}
footer .footer-links-container a:hover {
  color: hsl(0, 100%, 100%);
}
footer .footer-socials-container {
  display: flex;
  gap: 1.7rem;
  padding-top: 5rem;
}
footer .footer-socials-container a:hover {
  filter: brightness(0) invert(1);
}/*# sourceMappingURL=style.css.map */